.searchbar{
	padding: 0 40px;
	border-bottom: 1px solid #31394C;
	border-top: 1px solid #31394C;
	width: 100%;
	position: relative;
	
}

.searchbar input{
	background: inherit;
	padding-left: 70px;
	color: #B9B9C3;
	display: block;
	width: 100%;
	padding-top: 20px;
	padding-bottom: 20px;
}

.searchbar svg{
	position: absolute;
	left: 40px;
	top: 50%;
	transform: translate(0, -50%);
}