.sidebar {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 23px;
  color: #d0d2d6;
  flex: 0 1 15%;
  border-right: 1px solid #3b4253;
  padding: 20px 0;
}

.sidebar a {
  display: flex;
  align-items: center;
  gap: 10px;
}

.newTask {
  background: #7367f0;
  border-radius: 5px;
  padding: 10px 23px 11px;
  color: #fff;
  margin: 0 20px;
}

.newTask:hover {
  background: #8479f5;
  transition: all 0.3s;
}

a.active {
  color: #9b51e0;
}

a.active rect {
  fill: #9b51e0;
}

.nav {
  margin: 20px 0;
}

.nav li:not(:last-child) {
  margin-bottom: 5px;
}

.nav li {
  padding: 9px 20px;
  position: relative;
}

.nav li > .active::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 3px;
  left: 0;
  top: 0;
  border-radius: 1.5px;
  background: #7367f0;
}

.tags {
  padding: 0 45px;
}
.tags h5 {
  margin-left: -22px;
  font-weight: 500;
  font-size: 12px;
  line-height: 23px;
  color: #b9b9c3;
  margin-bottom: 17px;
}
.tags li:not(:last-child) {
  margin-bottom: 17px;
}

.tags li {
  position: relative;
  cursor: pointer;
}
.tags li:hover {
  transition: color 0.3s;
  color: #828282;
}

.tags li::before {
  content: "";
  position: absolute;
  left: -23px;
  top: 50%;
  transform: translate(0, -70%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.tags li:nth-child(1)::before {
  background: #7367f0;
}
.tags li:nth-child(2)::before {
  background: #28c76f;
}
.tags li:nth-child(3)::before {
  background: #ff9f43;
}
.tags li:nth-child(4)::before {
  background: #ea5455;
}

.activeFilter {
  padding: 10px 10px 10px 33px;
  border: 1px solid #9b51e0;
  border-radius: 5px;
}

#li.activeFilter::before {
  left: 10px;
}

@media screen and (max-width: 768px) {
  .sidebar {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 0 10px;
    gap: 20px;
  }

  .newTask {
    order: 2;
  }

  .nav {
    display: flex;
    margin: 0;
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;
    padding: 0 15px;
  }

  .nav li {
    flex: 0 1 50%;
    padding: 7px 20px;
    text-align: center;
  }

  .nav li a{
    justify-content: center;
  }


  .nav li > .active::before {
    content: "";
    position: absolute;
    height: 3px;
    width: 90%;
    left: 50%;
    transform: translate(-50%);
    top: 100%;
  }

  .newTask{
    align-self: start;
    padding: 7px 15px;
  }

  .tags{
    order: 3;
    width: 100%;
    padding: 0;
  }

  .tags h5{
    text-align: center;
    font-size: 15px;
  }

  .tagsCol {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    padding: 0 10px 0 53px;
    justify-content: space-between;
  }

  .tagsCol li {
    flex: 0 1 50%;
  }
  .activeFilter {
    border: none;
    padding: 0;
    color: #9b51e0;
  }

  #li.activeFilter::before {
    left: -23px;
    box-sizing: content-box;
    border: 2px solid #9b51e0;

  }
}

@media screen and (max-width: 520px) {
  .tagsCol li{
    flex: 0 1 100%;
  }

  .nav {
    flex-wrap: wrap;
  }
  .nav li{
    flex: 0 1 50%;
    padding: 5px;
    font-size: 12px;
  }

  .nav li a{
    display: flex;
    gap: 5px;
  }
   
}