@import url(https://fonts.googleapis.com/css?family=Montserrat:regular,500,600,700&display=swap);

/* nulling styles */

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  width: 100%;
  height: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}



input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/* main styles */



.wrapper {
  width: 100%;
  min-height: 100vh;
  height: 100%;
  background-color: #161d31;
  padding: 30px 0;
  font-family: "Montserrat";
  color: #B9B9C3;
  display: flex;
   align-items: center;
   justify-content: center;
  
}

.container {
  background-color: #283046;
  width: 90%;
  margin: 0 auto;
  border: 1px solid #3b4253;
  border-radius: 8px;
  display: flex;
}

input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  background-color: inherit;
  width: 18px;
  height: 18px;
  flex: 0 0 18px;
  border: 1.5px solid #404656;
  border-radius: 3px;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
}

input[type=checkbox]:hover {
  border: 1.5px solid #9B51E0;
  transition: color 0.5s;
}

input[type="checkbox"]::before {
  content: "";
  width: 8px;
  height: 8px;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  background-color: #fff;
}

input[type="checkbox"]:checked::before {
  transform: scale(1);
}

input[type="checkbox"]:checked {
  background-color: #7367f0;
}

@media screen and (max-width: 768px) {
  
  .container{
    flex-direction: column;
  }
}